/* Global Layout Set-up */

body {
  margin: 0;
  padding: 0;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #f7f5f0;
  display: flex;
  flex-direction: column;
}

header {
  padding: 2em;
	background-color: #f9e79f;
  text-align: center;
}
h1 {
  text-align: center;
  /*display: block;
  margin-left: auto;
  margin-right: auto;*/
}

h1 {
  text-align: center;
}

p {

  text-align: center;
}

button {
  
  font-size: .85em;
  padding: .65em 1em;
  border-radius: .3em;
  outline: 0;
}

.jumbotron {

  background-color: #0000CD;
}

.col {
  padding-left: 1em;
  padding-right: 1em;
}

.is-dead {
  text-decoration: line-through;
}

#setup {
  align-items: center;
  justify-content: center;
  display:flex;
}

#play {
	align-items: center;
	justify-content: center;
	display:flex;
}

#add-team {
  text-align: ceter;
  margin: auto;
  align-items: center;
  justify-content: center;
  display: inline-block;
}


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 500px) {

  .container {
    width: 90%;
    margin: 0 auto;
  }

  .bracket{
    width: 50%;
    margin: 0 auto;
  }

/*
   ---- Columns ---- 
*/

  .col {
    float: left;
  }

  .secondary,
  .primary {
    width: 50%;
  }

  .br8 {

    width: 25%;
  }

  /* ---------------------- */

    /* ---- Float clearfix ---- */

  .clearfix::after {
    content: " ";
    display: table;
    clear: both;
  }

}

@media (min-width: 700px) {

 .container {
    width: 85%;
    max-width: 1150px;
    margin: 0 auto;
  }

  .secondary,
  .primary {
    width: 35%;
  }

  .tertiary {
    width: 30%;
  }

